body {
 
}

/** HEADER **/
#header-nav {
  background-color: #999999;
  border-radius: 0;
  border: 3px solid black;
}

.navbar-brand {
  padding-top: 15px;
}

.navbar-brand h1 { /* Name */
  color: black;
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  background-color: #f7f7f7;
  margin-top: 0;
  margin-bottom: 0;
}
#nav-list a {
  color: black;
  font-size: 1.2em;
  text-align: center;
  border: 1px solid black;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#collapsable-nav {
	border: 0;
}

.menu-item {
  background:  #999999;
  min-height: 850px;
  padding: 15px;
}

#menu-item-title {
	padding-top: 10px;
}

.menu-item a {
 display: block;
 color: black;
}

.menu-item a:hover, .menu-item a:focus {
  text-decoration: none;
  color: gray;
}
